@model MineBidz.Models.DisplayBaseViewModel

@{Domain.Concrete.FilterCloths detailsModel = Newtonsoft.Json.JsonConvert.DeserializeObject<Domain.Concrete.FilterCloths>(Model.DetailsInfoJson);}
<fieldset>
    <legend>@String.Format("{0}/{1}/{2}", Model.Category, Model.Subcategory, Model.FormTitle)</legend>
    <div class="createForm">
        <div>
            @Html.Label("", "Delivery: ", new { @style = "float:left" })
            @Html.Label("", Model.Contry, new { @style = "float:left; color:#000; margin-left:5px" })
            @Html.Label("", Model.Location, new { @style = "float:left; color:#000; margin-left:5px" })
        </div>
    </div>
    <div class="createForm">
        <div>
            @Html.Label("", "Quantity: ", new { @style = "float:left" })
            @Html.Label("", detailsModel.Quantity, new { @style = "float:left; color:#000; margin-left:5px" })
        </div>
        <div>
            @Html.Label("", "Unit: ", new { @style = "float:left" })
            @Html.Label("", detailsModel.Unit, new { @style = "float:left; color:#000; margin-left:5px" })
        </div>
        <div>
            @Html.Label("", "Length: ", new { @style = "float:left" })
            @Html.Label("", detailsModel.Length, new { @style = "float:left; color:#000; margin-left:5px" })
        </div>
        <div>
            @Html.Label("", "Specify if 'Other': ", new { @style = "float:left" })
            @Html.Label("", detailsModel.LengthOther, new { @style = "float:left; color:#000; margin-left:5px" })
        </div>
    </div>
    <div class="createForm">
        <div>
            @Html.Label("", "Volume: ", new { @style = "float:left" })
            @Html.Label("", detailsModel.Volume, new { @style = "float:left; color:#000; margin-left:5px" })
        </div>
        <div>
            @Html.Label("", "Specify if 'Other': ", new { @style = "float:left" })
            @Html.Label("", detailsModel.VolumeOther, new { @style = "float:left; color:#000; margin-left:5px" })
        </div>
        <div>
            @Html.Label("", "Weight: ", new { @style = "float:left" })
            @Html.Label("", detailsModel.Weight, new { @style = "float:left; color:#000; margin-left:5px" })
        </div>
        <div>
            @Html.Label("", "Specify if 'Other': ", new { @style = "float:left" })
            @Html.Label("", detailsModel.WeightOther, new { @style = "float:left; color:#000; margin-left:5px" })
        </div>
        <div>
            @Html.Label("", "Diameter: ", new { @style = "float:left" })
            @Html.Label("", detailsModel.Diameter, new { @style = "float:left; color:#000; margin-left:5px" })
        </div>
        <div>
            @Html.Label("", "Specify if 'Other': ", new { @style = "float:left" })
            @Html.Label("", detailsModel.DiameterOther, new { @style = "float:left; color:#000; margin-left:5px" })
        </div>
    </div>
    <div class="createForm">
        <div>
            @Html.Label("", "Material: ", new { @style = "float:left" })
            @Html.Label("", detailsModel.Material, new { @style = "float:left; color:#000; margin-left:5px" })
        </div>
        <div>
            @Html.Label("", "Specify if 'Other': ", new { @style = "float:left" })
            @Html.Label("", detailsModel.MaterialOther, new { @style = "float:left; color:#000; margin-left:5px" })
        </div>
        <div>
            @Html.Label("", "Size (If Applicable): ", new { @style = "float:left" })
            @Html.Label("", detailsModel.Size, new { @style = "float:left; color:#000; margin-left:5px" })
        </div>
    </div>
    @{Html.RenderPartial("PartialDisplayCommon");}
</fieldset>

@{Html.RenderPartial("PartialDisplayPlaceBid");}
