@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<title>W3.CSS Template</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-black.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
    html, body, h1, h2, h3, h4, h5, h6 {
        font-family: "Roboto", sans-serif;
    }

    .w3-sidebar {
        z-index: 3;
        width: 250px;
        top: 43px;
        bottom: 0;
        height: inherit;
    }
</style>
<body>

    <!-- Navbar -->
    <nav class="w3-row">
        @{Domain.Repository repository = new Domain.Repository(System.Configuration.ConfigurationManager.ConnectionStrings["DefaultConnection"].ConnectionString);}
        <div class="w3-col m2 l2 w3-hide-small">&nbsp</div>
        <div class="w3-bar w3-theme w3-col m8 l8 s12">
            <div class="w3-container w3-center">
                @if (WebSecurity.IsAuthenticated && WebSecurity.CurrentUserId == 6)
                {
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("Requests", "Index", "Admin")</li>
                    <li>@Html.ActionLink("Bids", "Index", "Bids")</li>
                    <li>@Html.ActionLink("Packages", "Packages", "Admin")</li>
                    @Html.Partial("_LoginPartial")
                }
                else
                {
                    @Html.ActionLink("Home", "Index", "Home", new { @class = "w3-container w3-button w3-hover-white w3-center" })
                    @Html.ActionLink("Services", "Services", "Home", new { @class = "w3-container w3-button w3-hover-white w3-center" })
                    @Html.ActionLink("About Us", "About", "Home", new { @class = "w3-container w3-button w3-hover-white w3-center" })
                    @Html.ActionLink("Contact Us", "Contact", "Home", new { @class = "w3-container w3-button w3-hover-white w3-center" })
                    @Html.Partial("_LoginPartial")
                    @Html.ActionLink("Post a Bid Request", "Forms", "Home", new { @class = "w3-container w3-button w3-hover-white w3-center", @style = "background: url(@Url.Content('~/Images/Layout/post-a-bid-background.png')) no-repeat" })
                }
            </div>
        </div>
        <div class="w3-col m2 l2 w3-hide-small">&nbsp</div>
    </nav>

    <div class="w3-row  w3-hide-small">
        <div id="logo" class="w3-container w3-center">
            <img src="../Images/logo-title.png" alt="logo" style="width: 100%">
        </div>

    </div>

    <!-- Main content: shift it to the right by 250 pixels when the sidebar is visible -->
    <div class="w3-main w3-row">
        <div class="w3-col m2 l2 w3-hide-small">
            <div id="ad-left" class="w3-hide-medium, w3-hide-small" style='width: 68%; float: right; background: url(@Url.Content("~/Images/Layout/side-ad-left-empty.png"))'>
                <a href="http://www.tegaindustries.com/" target="_blank">
                    <img style="width: 95%;" src="/Images/Ad/tega-banner-1.jpg"></a>
                <img src="@Url.Content("~/Images/Ad/ore-pros.gif")" alt="ore" style="width: 95%; margin-top: 10px;">
                <img src="@Url.Content("~/Images/Ad/hmr-logo-1.jpg")" alt="hmr" style="width: 95%; margin-top: 10px;">
                <a href="http://www.mincocorp.ca/" target="_blank">
                    <img style="width: 95%; margin-top: 10px;" src="/Images/Ad/minco-banner-1.jpg"></a>
                <a href="http://www.solomonresources.ca/" target="_blank">
                    <img style="width: 95%; margin-top: 10px;" src="/Images/Ad/solomon-resources-1.jpg"></a>
            </div>
        </div>

        <div class=" w3-col m8 l8 s12 w3-container">
            <h1 class="w3-text-teal">Heading</h1>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Lorem ipsum
        dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
            </p>
        </div>
        <div class="w3-col m2 l2 w3-hide-small">
            <div id="ad-right" class="w3-hide-medium, w3-hide-small" style='width: 68%; float: left; background: url(@Url.Content("~/Images/Layout/side-ad-right-empty.png"))'>
                <a href="http://www.seprosystems.com/" target="_blank">
                    <img style="width: 95%; float: right" src="/Images/Ad/sepro-minral-systems.gif" alt="sepro"></a>
                <img src="@Url.Content("~/Images/Ad/right-ad-top.jpg")" alt="ore" style="width: 95%; margin-top: 10px;; float:right">
                <a href="http://www.scotiacorp.com/" target="_blank">
                    <img style="width: 95%; margin-top: 10px; float: right" src="~/Images/Ad/sion-logo.jpg"></a>
                <img src="@Url.Content("~/Images/Ad/right-ad-bottom.jpg")" alt="ore" style="width: 95%; margin-top: 10px;; float:right">
                <a href="http://www.ghimac.ca/" target="_blank">
                    <img style="width: 95%; margin-top: 10px; float: right" src="/Images/Ad/ghimc-banner-1.jpg"></a>
                <a href="http://www.iias.com/" target="_blank">
                    <img style="width: 95%; margin-top: 10px; float: right" src="/Images/Ad/internet-advertising-banner-ad-2.jpg"></a>
            </div>
        </div>


        <!-- END MAIN -->
    </div>

    <script>
    </script>

</body>
</html>
