@model List<MineBidz.Models.RequestInfoListViewModel>

@{
    ViewBag.Title = "MineBidz - Connecting Mines with Suppliers, Vendors & Engineers";
}

<div id="earth" style='height: 107px; padding-top: 173px; width: 880px; background: url("../Images/home-header.png") no-repeat'>

    <a href="@Url.Action("Forms", "Home")" style="height:0">
        <img style="border:0;" src='@Url.Content("~/Images/post-request.png")' alt="" width="508" height="94"></a>
</div>
<div id="home-title" style='height: 70px; width: 880px; background: url("../Images/current-bid-requests.png") no-repeat'></div>

<div style="margin: 0 auto; overflow: auto">
    <table style="width: 100%; border-bottom: solid thin; border-top: solid thin;">
        <tr style="font-weight: 800">
            <td>Condition</td>
            <td>Bid Title</td>
            <td>Category</td>
            <td>Delivery Location</td>
            <td>Bid ID</td>
            <td>Date Posted</td>
            <td>Bid End Date</td>
        </tr>
        @foreach (MineBidz.Models.RequestInfoListViewModel f in Model)
        {
            <tr style="border-top: solid thin;">
                <td>
                    @if (!String.IsNullOrEmpty(f.Condition))
                    {
                        @Html.RouteLink(f.Condition, new { controller = "Forms", action = "Display", formId = f.RequestInfoId })
                    }
                </td>
                <td>
                    @if (!String.IsNullOrEmpty(f.BidName))
                    {
                        @Html.RouteLink(f.BidName, new { controller = "Forms", action = "Display", formId = f.RequestInfoId })
                    }
                </td>
                <td>@Html.RouteLink(String.Format("{0}/{1}/{2}", f.Category, f.Subcategory, f.FormTitle), new { controller = "Forms", action = "Display", formId = f.RequestInfoId })</td>
                <td>@Html.RouteLink(String.Format("{0}, {1}", f.Country, f.Location), new { controller = "Forms", action = "Display", formId = f.RequestInfoId })</td>
                <td>@Html.RouteLink(f.RefNumber, new { controller = "Forms", action = "Display", formId = f.RequestInfoId })</td>
                <td>@Html.RouteLink(f.BidStart, new { controller = "Forms", action = "Display", formId = f.RequestInfoId })</td>
                <td>@Html.RouteLink(f.BidEnd, new { controller = "Forms", action = "Display", formId = f.RequestInfoId })
            </tr>
        }
    </table>
</div>
