@model MineBidz.Models.CreateFormCipViewModel

<fieldset>
    <legend>@Model.FormTitle</legend>
    <div class="createForm">
        <div>
            @Html.Label("", "Product Type (ie. Gold etc...)")
            @Html.TextBox("DetailsInfo.ProductType", "", new { @style = "width:250px" })
        </div>
        <div>
            @Html.Label("", "Metallurgical Test Work", new { @style = "width:180px" })
            @Html.Label("", "Yes", new { @style = "float:left; width:20px" })
            @Html.RadioButton("DetailsInfo.MetallurgicalTestWork", "Yes", new { @style = "float:left; width:35px" })
            @Html.Label("", "No", new { @style = "float:left; width:20px; padding-left:30px" })
            @Html.RadioButton("DetailsInfo.MetallurgicalTestWork", "No", new { @style = "float:left; width:35px" })
        </div>
    </div>
    <div class="createForm">
        <div>
            @Html.Label("", "Stationary", new { @style = "float:left;" })
            @Html.RadioButton("DetailsInfo.Mobility", "Stationary", new { @style = "float:left; width:35px" })
            @Html.Label("", "Mobile", new { @style = "float:left; padding-left:30px" })
            @Html.RadioButton("DetailsInfo.Mobility", "Mobile", new { @style = "float:left; width:35px" })
            @Html.Label("", "Skid", new { @style = "float:left; padding-left:30px" })
            @Html.RadioButton("DetailsInfo.Mobility", "Skid", new { @style = "float:left; width:35px" })
        </div>
    </div>
    <div class="createForm">
        <div>
            @Html.Label("", "Flow GPM")
            @Html.TextBox("DetailsInfo.FlowGPM")
        </div>
        <div>
            @Html.Label("", "% Solids")
            @Html.TextBox("DetailsInfo.PercentSolids")
        </div>
        <div>
            @Html.Label("", "Residence time (hrs)")
            @Html.TextBox("DetailsInfo.ResidenceTimeHours")
        </div>
    </div>
    <div class="createForm">
        <div>
            @Html.Label("", "Tank Style")
            @Html.TextBox("DetailsInfo.TankStyle")
            @Html.DropDownList("DetailsInfo.TankStyleUnit", new SelectList(Model.Repository.ListTankStyleUnit()))
        </div>
        <div>
            @Html.Label("", "Tank Rubber Lined", new { @style = "width:180px" })
            @Html.Label("", "Yes", new { @style = "float:left; width:20px" })
            @Html.RadioButton("DetailsInfo.TankRubberLined", "Yes", new { @style = "float:left; width:35px" })
            @Html.Label("", "No", new { @style = "float:left; width:20px; padding-left:30px" })
            @Html.RadioButton("DetailsInfo.TankRubberLined", "No", new { @style = "float:left; width:35px" })
        </div>
        <div>
            @Html.Label("", "Tails Tank with Safety Screen")
            @Html.Label("", "Yes", new { @style = "float:left; width:20px" })
            @Html.RadioButton("DetailsInfo.TailsTankWithSafetyScreen", "Yes", new { @style = "float:left; width:35px" })
            @Html.Label("", "No", new { @style = "float:left; width:20px; padding-left:30px" })
            @Html.RadioButton("DetailsInfo.TailsTankWithSafetyScreen", "No", new { @style = "float:left; width:35px" })
        </div>
    </div>
    @{Html.RenderPartial("PartialCreateMotor");}
    @{Html.RenderPartial("PartialCreateTankScreenCommon");}
</fieldset>

