@model MineBidz.Models.CreateFormLoaderViewModel


<fieldset>
    <legend>@Model.FormTitle</legend>
    <div class="createForm">
        <div>
            @Html.Label("", "Quantity (Each)")
            @Html.TextBox("DetailsInfo.QuantityEach")
        </div>
        <div>
            @Html.Label("", "Production Target")
            @Html.TextBox("DetailsInfo.ProductionTargetNumber")
            @Html.DropDownList("DetailsInfo.ProductionTargetUnit", new SelectList(new List<string>() { "", "TPH", "MTPH" }))
        </div>
        <div>
            @Html.Label("", "Body Type")
            @Html.DropDownList("DetailsInfo.BodyType", new SelectList(new List<string> { "", "Articulated", "Standard", "Other" }))
        </div>
        <div>
            @Html.Label("", "Specify if 'Other'")
            @Html.TextBox("DetailsInfo.BodyTypeOther")
        </div>
        <div>
            @Html.Label("", "Cabin Type")
            @Html.DropDownList("DetailsInfo.CabinType", new SelectList(new List<string> { "", "Enclosed", "Open" }))
        </div>
        <div>
            @Html.Label("", "Steering")
            @Html.DropDownList("DetailsInfo.Steering", new SelectList(new List<string> { "", "Joystick", "Wheel", "Other" }))
        </div>
        <div>
            @Html.Label("", "Specify if 'Other'")
            @Html.TextBox("DetailsInfo.SteeringOther")
        </div>
    </div>
    <div class="createForm">
        <div>
            @Html.Label("", "Size Class (Metric Ton Payload)")
            @Html.DropDownList("DetailsInfo.SizeClassMetricTonPayload", new SelectList(new List<string> { "", "20-25", "30-35", "40-50", "65", "Other" }))
        </div>
        <div>
            @Html.Label("", "Specify if 'Other'")
            @Html.TextBox("DetailsInfo.SizeClassMetricTonPayloadOther")
        </div>
        <div>
            @Html.Label("", "Capacity (yd3)")
            @Html.TextBox("DetailsInfo.CapacityQubicMeters")
        </div>
        <div>
            @Html.Label("", "Recommended Power")
            @Html.TextBox("DetailsInfo.RecommendedPower")
            @Html.DropDownList("DetailsInfo.RecommendedPowerUnit", new SelectList(new List<string> { "", "kW", "hp", "Other" }))
        </div>
        <div>
            @Html.Label("", "Specify if 'Other'")
            @Html.TextBox("DetailsInfo.RecommendedPowerUnitOther")
        </div>
    </div>
    <div class="createForm">
        <div>
            @Html.Label("", "Options")
            @Html.DropDownList("DetailsInfo.Options", new SelectList(new List<string> { "", "Remote and Stand", "Remote", "Forks" }))
        </div>
        <div>
            @Html.Label("", "Hours No Greater Than (hrs)")
            @Html.TextBox("DetailsInfo.HoursNoGreaterThan")
        </div>
    </div>
</fieldset>

