@model MineBidz.Models.CreateFormViewModel

<fieldset>
    <legend>Bid Info</legend>
    <div id="bidInfo" class="companyInfo">
        <div>
            <div style="float: left">
                <div style="float: left">
                    @Html.LabelFor(m => m.BidInfo.BidName, "Title of Bid")
                    @Html.TextBoxFor(m => m.BidInfo.BidName, new { @style = "width:110px;" })
                </div>
                <div style="float: left">
                    @Html.LabelFor(m => m.BidInfo.BidName, "Bid End Date")
                    @Html.TextBoxFor(m => m.BidInfo.BidEndDate, new { @class = "datePickerBidEndDate", @Value = (Model.BidInfo.BidEndDate.Year == 1 ? "" : Model.BidInfo.BidEndDate.ToShortDateString()), @style = "width:90px" })
                </div>

                <div style="float: left; margin-left: 10px;">
                    @Html.Label("file", "File Upload:")
                    <input type="file" name="EngineeringDesign" id="EngineeringDesign" />
                </div>
            </div>
            <div style="clear: both; padding-top:5px">
                @Html.LabelFor(m => m.New, new { @style = "width:30px; float:left; margin-left:5px" })
                @Html.CheckBoxFor(m => m.New, new { @style = "width:20px; height:20px; float:left; margin-left:5px" })
                @Html.LabelFor(m => m.Used, new { @style = "width:35px; float:left; margin-left:15px" })
                @Html.CheckBoxFor(m => m.Used, new { @style = "width:20px; height:20px; float:left; margin-left:5px" })
                @Html.LabelFor(m => m.Rental, new { @style = "width:45px; float:left; margin-left:15px" })
                @Html.CheckBoxFor(m => m.Rental, new { @style = "width:20px; height:20px; float:left; margin-left:5px" })
            </div>
            <div  style="clear: both; padding-top:10px">
                @Html.CheckBoxFor(m => m.Acknowledged, new { @style = "width:20px; height:20px; float:left" })
                @Html.LabelFor(m => m.Acknowledged, "I agree with ", new { @style = "float:left"})<a style="float:left; margin-left:10px" href="@Url.Content("~/Images/PDF/Terms of Service for Users REV1.pdf")" target="_blank">Terms and Conditions</a> 
            </div>

        </div>
    </div>
    <div class="companyInfo">
        @Html.LabelFor(m => m.Description)
        @Html.TextAreaFor(m => m.Description, new { @rows = "4", @style = "width:400px; border: 1px solid;" })
    </div>
</fieldset>





