<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body style="margin: 0 auto; width: 1260px">
    <header>
        <div style="margin: 0 auto; padding-top: 20px;">
            <nav>
                <ul id="menu" style="text-align: center">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("Requests", "Index", "Admin")</li>
                    <li>@Html.ActionLink("Bids", "Index", "Bids")</li>
                    <li>@Html.ActionLink("Packages", "Packages", "Admin")</li>
                    @Html.Partial("_LoginPartial")
                </ul>
            </nav>
        </div>
    </header>
    <div id="innerBody" style="margin: 0 auto;">
        @RenderSection("featured", required: false)
        <section style="width: 1260px">
            @RenderBody()
        </section>
    </div>
    <footer>
        <div class="content-wrapper">
            <div id="bottom-menu" style="padding-top: 20px">
                <div id="bottom-menu-1" style="float: left; width: 250px">
                    <div>@Html.ActionLink("Home", "Index", "Home")</div>
                    <div>@Html.ActionLink("Services", "Services", "Home")</div>
                    <div>@Html.ActionLink("About Us", "About", "Home")</div>
                    <div>@Html.ActionLink("Contact Us", "Contact", "Home")</div>
                </div>
                <div id="bottom-menu-2" style="float: left; width: 250px">
                    <div><a href="@Url.Content("~/Images/PDF/Privacy Policy REV1.pdf")">Privacy Policy</a></div>
                    <div><a href="@Url.Content("~/Images/PDF/Terms of Service for Users REV1.pdf")">Terms of Use</a></div>
                </div>
                <div id="bottom-text" style="float: left; width: 400px">
                    <div>Welcome to Mine Bidz</div>
                </div>
            </div>
            <div style="clear: both"></div>
            <div class="float-left">
                <p>Mine Bidz &copy; @DateTime.Now.Year</p>
            </div>
            <div style="float: right">
                <p><a href="http://www.iias.com/">Site by Internet Advertising</a></p>
            </div>
        </div>
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)
</body>
</html>
